# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log